@page
@model AgriEnergyConnect_st10255631_MVC.Views.Home.employeeDashbaord

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>