@{
    ViewData["Title"] = "Home Page";
}

<div class="min-vh-100 d-flex flex-column bg-light">
    <!-- Hero Section -->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center g-5">
                <div class="col-lg-6">
                    <h1 class="display-4 fw-semibold text-dark mb-3">Agri-Energy Connect</h1>
                    <p class="lead text-muted mb-4">
                      
                    </p>
                    <a href="#features" class="btn btn-dark btn-lg rounded-pill px-4 shadow-sm">Explore Features</a>
                </div>
                <div class="col-lg-6 text-center">
                    <i class="bi bi-leaf-fill text-success" style="font-size: 6rem;"></i>
                </div>
            </div>
        </div>
    </div>
</div>




    

<!--------------------------------------------end of file............................................>